// Colors
$black: #000;
$concrete-gray: #f3f2f2;
$white: #fff;
$red: #f00;
$spicy-red: #c30e05;
$transparent: transparent;

// Font sizes
$size-36: 2.25rem;
$size-30: 1.875rem;
$size-27: 1.6875rem;
$size-25: 1.563rem;
$size-24: 1.5rem;
$size-21: 1.3125rem;
$size-18: 1.125rem;
$size-16: 1rem;
$size-14: 0.875rem;
$size-12: 0.75rem;

// Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Font families
$font-family-roboto: 'Roboto', sans-serif;
$font-family-icomoon: 'Icomoon';

// Z-index layer level
$z-index-1: 1;

// Other
$table-box-shadow: 0 5px 5px -3px rgba($black, 0.2), 0 8px 10px 1px rgba($black, 0.14), 0 3px 14px 2px rgb($black, 0.12);
