@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src:
    url('/assets/fonts/roboto/roboto-light.woff2') format('woff2'),
    url('/assets/fonts/roboto/roboto-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src:
    url('/assets/fonts/roboto/roboto-regular.woff2') format('woff2'),
    url('/assets/fonts/roboto/roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  src:
    url('/assets/fonts/roboto/roboto-bold.woff2') format('woff2'),
    url('/assets/fonts/roboto/roboto-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
