@import '~src/styles/style-import';

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 20px;
}

main {
  @include page-layout;
}

@include media-breakpoint-down(sm) {
  .content-wrapper {
    padding: 5px 10px;
  }
}
