@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/fonts';
@import 'styles/icons';
@import 'styles/text';

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-family-roboto;
  background-color: $concrete-gray;
  color: $black;
}
